.countryDetail {
    font-size: 1rem;
    padding: 5em;
}

.back-button {
    background: url('../../assets/icons/arrow_back.svg') no-repeat scroll 2rem 10px;
    background-color: hsl(var(--white));
    margin-bottom: 4rem;
    padding-left: 3.5em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .09);
    border-radius: 3px;
}

.countryDetail-flag {
    width: 560px;
    max-height: 402px;
    white-space: nowrap;
}

.countryDetail-flag img {
    width: 560px;
    max-height: 402px;
    object-fit: cover;
}


.countryDetail-container {
    display: flex;
    gap: 7rem;
    flex-wrap: wrap;
}

.countryDetail-info {
    padding-block: 2rem;
}


.countryDetail-info div p {
    margin-bottom: .5rem;
}

.countryDetail-info div span {
    white-space: nowrap;
}

.countryDetail-info-col {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}


.borderCountries-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2.6rem;
    /* padding-left: 3.6255rem; */
    gap: 8px;
    max-width: 464px;

}


.borderCountries-list {
    display: grid;
    max-width: 100%;
    grid-template: repeat(auto-fill, minmax(40px, 1fr)) / repeat(auto-fill, minmax(130px, 1fr));
    justify-items: stretch;
    gap: 8px;
}

.borderCountry-button {
    padding: .5em 1em;
    text-align: center;
    white-space: nowrap;
}

.countries-link {
    max-width: min-content;
}


span {
    font-weight: 600;
}

#borderCountries-header {
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 10px;
    white-space: nowrap;
}


@media(max-width: 440px) {
    .borderCountries-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
    }
}

@media(max-width: 375px) {
    .countryDetail {
        padding: 2.5rem 27.5px 7rem 27.5px;
        max-width: 320px;
        overflow-x: hidden;
    }


    .countryDetail-flag {
        max-height: 228px;
    }

    .countryDetail-flag img {
        max-width: 320px;
        height: 228px;
        object-fit: cover;
    }




    .countryDetail-container {
        display: block;
    }

    .countryDetail-info-col {
        display: block;
    }

    .countryDetail-info-item {
        margin-bottom: 3rem;
    }

    .countryDetail-info-col p {
        margin-bottom: 1rem;
    }

    .borderCountries-container {
        display: block;
        /* flex-direction: column;
        align-items: flex-start; */
    }

    #borderCountries-header {
        margin-bottom: 1rem;
    }

    .borderCountries-list {
        display: grid;
        grid-template: repeat(auto-fill, minmax(40px, 1fr)) / repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 8px;
        align-items: stretch;
    }


    .borderCountry-button {
        padding: .5em 1em;
        max-width: 100%;
        white-space: normal;
    }
}