.countryDetail {
    font-size: 1rem;
    padding: 5em;
}

.back-button {
    align-items: center;
    margin-bottom: 4rem;
    gap: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .09);
    border-radius: 3px;
}

.countryDetail-name {
    font-size: 2rem;
    font-weight: 800;
}


.countryDetail-flag {
    width: 100%;
}

.countryDetail-flag img {
    width: 100%;
}


.countryDetail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 7rem;
}

.countryDetail-info {
    padding-block: 2rem;
}


.countryDetail-info div p {
    margin-bottom: .5rem;
}

.countryDetail-info div span {
    white-space: nowrap;
}

.countryDetail-info-col {
    display: flex;
    gap: 16px;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}


.borderCountries-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    max-width: 600px;
}


.borderCountries-list {
    display: grid;
    max-width: 70%;
    grid-template: repeat(auto-fill, minmax(40px, 1fr)) / repeat(auto-fill, minmax(130px, 1fr));
    justify-items: stretch;
    gap: 8px;
}

.borderCountry-button {
    padding: .25em .5em;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: 600;
}

#borderCountries-header {
    font-weight: 600;
    margin-bottom: 1rem;
    white-space: nowrap;
}


@media(max-width: 750px) {

    .countryDetail {
        padding: 5rem 28px 7rem 28px;
    }

    .countryDetail-container {
        display: block;
    }

    .borderCountries-list {
        display: grid;
        grid-template: repeat(auto-fill, minmax(40px, 1fr)) / repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 8px;
    }
}


@media(max-width: 375px) {
    .countryDetail {
        padding: 2.5rem 28px 7rem 28px;
        overflow-x: hidden;
    }

    .countryDetail-container {
        display: block;
        width: auto;
    }


    .countryDetail-info {
        width: auto;
    }

    .countryDetail-info-col {
        display: block;
    }

    .countryDetail-info-item {
        margin-bottom: 3rem;
    }

    .countryDetail-info-col p {
        margin-bottom: 1rem;
    }

    .borderCountries-container {
        display: block;
        margin-left: 0;
        max-width: auto;
    }

    #borderCountries-header {
        margin-bottom: 1rem;
    }

    .borderCountries-list {
        display: grid;
        max-width: 100%;
        grid-template: repeat(auto-fill, minmax(40px, 1fr)) / repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 8px;
        align-items: stretch;
    }


    .borderCountry-button {
        padding: .5em 1em;
        max-width: 100%;
        white-space: normal;
    }
}