.countries-list {
    display: grid;
    grid-template: repeat(auto-fill, minmax(176px, 1fr)) / repeat(auto-fill, minmax(272px, 1fr));
    gap: 64px;
    justify-items: center;
    font-size: 14px;
    padding: 3rem 5rem;
}


.countries-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;

    padding: 3rem 5rem;
}

.countries-link {
    width: fit-content;
    height: min-content;
}

a {
    text-decoration: none;
    color: black;
}


@media(max-width: 750px) {
    .countries-filter {
        flex-direction: column;
        padding-inline: 1rem;
    }
}

@media(max-width: 375px) {
    .countries-list {
        display: grid;
        gap: 80px;
        justify-items: center;
        font-size: 14px;
        padding: 3rem 2rem 7rem 2rem;
    }

    .countries-filter {
        flex-direction: column;
        padding-inline: 1rem;
    }
}