.countries-list {
    display: grid;
    grid-template: repeat(auto-fit, minmax(176px, 1fr)) / repeat(auto-fit, minmax(272px, 1fr));
    gap: 64px;
    justify-items: center;
    font-size: 14px;
    padding: 3rem 5rem;
}

.countries-filter {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.countries-link {
    max-width: min-content;
}

a {
    text-decoration: none;
    color: black;
}