.svg-moon {
    padding-top: .25em;
}

.svg-moon svg {
    width: 16px;
    height: 16px;
}


.header {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    gap: 16px;
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow: 0 .5px 3px 1px rgba(0, 0, 0, .09);
}

.logo {
    font-size: 1.5rem;
}

.darkmode {
    font-size: 1rem;
}


.darkmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: .9rem;
    font-weight: 600;
    padding: 0;
    box-shadow: none;
}


@media (max-width: 750px) {
    .header {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        font-size: 1.5rem;
        font-weight: 800;
        padding: 1rem 2rem;
        box-shadow: 0 .5px 3px 1px rgba(0, 0, 0, .09);
    }

    .logo {
        font-size: 1rem;
    }

    .darkmode {
        font-size: .9rem;
    }
}


@media (max-width: 375px) {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 .5px 3px 1px rgba(0, 0, 0, .09);
    }

    .logo {
        font-size: 1rem;
        font-weight: 800;
    }
}


.countries-link {
    width: fit-content;
    height: min-content;
}