label {
    display: grid;
    grid-template: 1fr / auto 1fr;
    width: 480px;
    height: 56px;
    gap: 12px;
    border-radius: 3px;
    padding: 12px;
    color: hsl(var(--v-light-gray));
    cursor: text;
    box-shadow: 0 .5px 3px 1px rgba(0, 0, 0, .09);
}

label:focus-within {
    outline: 1px solid hsl(var(--inputFocus, --dark-blue));
}


label>input {
    outline: none;
    border: none;
    background: transparent;
}


input[type="search"]::placeholder {
    background-color: transparent;
    color: hsl(var(--placeholder, --white));
}

@media (max-width: 750px) {
    .search-icon {
        margin-bottom: 2.5rem;
    }

    label {
        width: auto;
    }
}

@media (max-width: 375px) {
    .search-icon {
        margin-bottom: 2.5rem;
    }

}